<html>
	<head>
		<title>Reverse Geocoding server v {VERSION}</title>
	</head>
	<body>
		<h5>
			Welcome.
		</h5>
		<p>
			This is simple reverse geocoding proxy server based on
			<a href='http://www.twistedmatrix.org'>Twisted framework</a>
			Use one of urls listed bellow.			 
		</p>
		<p>
			Currently avaliable backends:
			<ul>
				<li>
					<a href='/google'>
						/google
					</a>
					|original: <a href='http://code.google.com/intl/ru/apis/maps/documentation/geocoding/'>google</a>
				 
				</li>
				<li>
					...
				</li>
			</ul> 
		</p>
	</body>
</html>